<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Botón para ir a la página de crear nueva publicación -->
    <form action="/post/new-post" method="get">
        <button type="submit">Crear Publicación</button>
    </form>
    <!-- Botón para ir a la página de lista de publicaciones -->
    <form action="/post/posts" method="get">
        <button type="submit">Ver Publicaciones</button>
    </form>
    <!-- Contenido principal de la página -->
    {{{body}}}
</body>
</html>
