<nav>
    <div class="principallink">
        <a href="/">Home</a>
        <a href="/posts">All post</a>
        <a href="/posts/create">New Post</a>
    </div>
    <div class="buttonrelo">
        <button href="/posts/register">Register 
        <button href="/posts/login">Login
    </div>    
</nav>