<h1>Welcome, {{user.username}} !</h1>
<div>
  <ul>
    {{#each posts}}
      <li class="singlePost"><a href="/posts/{{this.id}}">{{this.title}}<br
          />{{this.author.username}}</a></li>
    {{/each}}
  </ul>
</div>