<form action="/posts/profile/{{post.id}}?_method=PUT" method="post">
  <label for="content"><b>Post:</b></label>
  <input name="content" type="text" value= '{{post.content}}'/> 
  <button type="submit">Update</button>
</form>