<h1>Crear Publicación</h1>
<form action="/post/create-post" method="POST">
  <div>
    <label for="content">Contenido:</label>
    <textarea id="content" name="content" required></textarea>
  </div>
  <button type="submit">Publicar</button>
</form>

